.login {
    height: 100%;
    width: 100%;
}

.login>button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    float: right;
    margin-bottom: 100px;
    color: rgb(255, 255, 255);
}

.close:focus {
    outline: none;
}

.login>button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    background: rgb(12, 85, 98);
    color: rgb(255, 255, 255);
    width: 150px;
    font-variant: small-caps;
    cursor: pointer;

}

.login>button:focus {

    outline: none;

}

.login>button:hover {
    background-color: rgb(26, 110, 131);
}

.btn {
    background-color: rgb(197, 98, 65);
    color: white;
}

.btn:hover {

    background-color: rgb(231, 123, 96);
}